/*Essence-FORM
    Styling for the base of Web Applications for Essence of Zen
    Http://EssenceOfZen.org/
        - Zane "ZenOokami" Blalock
    Version: 0.2.0 - Base
    License:

    Direction:
        - Essence-FORM is EoZ's stylesheet that aims to take in a semi-flat design, with depth
        that 

    Thank Yous:
        A big thank you to Google, Zurb, and Bootstrap -- using them both for different projects inspired
        this project. Google's material design lead to create a none-100%-flat design,
        while Bootstrap and Zurb's grid system lead helped us decide against flex.


    Notes:
        * Large Screens = 64em
        * Medium Screens = 40em
        
        Drop-Shadows
            Most sites seem to shoot for a down and to the right direction for drop-shadows
            I'm fond of straight down: 0 # #
            Idea: Change the direction of the shadow based on the time on the user's computer?

    Table of Contents:
        `- xxFonts
        `- xxLinks
        `- xxTags
        `- xxIDs
        `- xxWidth Sections
        `- xxText and Font
        `- xxTable
        `- xxGrid
        `- xxColors
        `- xxGradiants
        `- xxAttributes
        `- xxGraphics
        `- xxButtons 
        `- xxSwitches
*/
:root{
    /* Set up major variables for future theme settings like Dark Mode */
    --main-background-color: white;
    --e-white: #ffffff;
    
    --e-charcoal-gray: #333333;
    --e-dark-gray: #212121;
    
    --e-light-blue: #5cadff;
    --e-blue: #3f8bd8;
    --e-deep-dark-blue: #425784;
    
    
    --e-red: #ff2616;

    --e-green: #4caf50;

}



/* Prevent Chrome blue blurred outline */
button:focus { 
    /* Consider keeping, or making a unique version, for vision impaired */
    outline: 0;
}


/* xxFonts ============================= */
@font-face{
    font-family: brie;
    src: url(/fonts/BRI293.TTF);
}

/* xxLinks ============================ */
.e-link {
    color: var(--e-blue);
    text-decoration: none;
    transition: .5s;
}

    .e-link:hover {
        color: var(--e-light-blue);
        /* box-shadow: x-offset, y-offset, blur size, spread size, color */
        box-shadow: 0px 0px 10px 1px var(--e-light-blue);
    }

/* xxTags ==============================*/
html {
  box-sizing: border-box;
  font-size: 100%; /*default html font-size is 16px */

}

*, *::before, *::after {
  box-sizing: inherit; 
}

body {
    margin: 0;
    padding: 0;
}

hr {
    border: none;
    background-color: #4e4e4e;
    color: black;
    height: 1px;
}



/* xxIDs ====================================================*/
#baseContent{ 
    transition: margin-left .5s;
    /*padding: 16px;*/
    min-height: 1080px;
}

/* xxWidth Sections =========================================*/
.full-width {
    margin: auto;
    width: 100%;
}

.three-width {
    margin: auto;
    width: 75%;
}

.main-width {
    margin: auto;
    width: 65%;
}

/* xxText and Font ==========================================*/
.text-center {
    text-align: center;
}

/* xxTables =================================================*/
.e-table {
    border: 1px solid #d3d1d1;
}

    .e-table-body > tr:nth-child(even){
        background-color: #f8f8f8;
    }

    .e-table-body td {
        border-bottom: 1px solid #cccccc;
    }

.text-medium-large {
    font-size: 1.5rem;
}

/* xxImage ================================================= */
.verticle-middle {
    vertical-align: middle;
}

/* xxGrid ===================================================*/
.grid-container {
    /*0.9375rem = 15px*/
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
    max-width: 100rem;
    margin: 0 auto;
}

.grid-x {
  display: flex;
  flex-flow: row wrap; 
}

.cell {
  flex: 0 0 auto;
  min-height: 0px;
  min-width: 0px;
  width: 100%;
  padding-left: .25rem;
  padding-right: .25rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* --Small Screen-- */
/* Default/small */
.grid-x > .small-1 {
    width: 8.3333%;
}

.grid-x > .small-2 {
    width: 16.6666%;
}

.grid-x > .small-3 {
    width: 25%;
}

.grid-x > .small-4 {
    width: 33.3333%;
}

.grid-x > .small-5 {
    width: 41.6666%;
}

.grid-x > .small-6 {
    width: 50%; 
}

.grid-x > .small-7 {
    width: 58.3333%;
}

.grid-x > .small-8 {
    width: 66.6666%;
}

.grid-x > .small-9 {
    width: 75%;
}

.grid-x > .small-10 {
    width: 83.3333%;
}

.grid-x > .small-11 {
    width: 91.6666%;
}

.grid-x > .small-12 {
    width: 100%; 
}


/* --Medium Screen-- */
@media only screen and (min-width: 40rem){
    .grid-x > .medium-1 {
        width: 8.3333%;
    }

    .grid-x > .medium-2 {
        width: 16.6666%;
    }

    .grid-x > .medium-3 {
        width: 25%;
    }

    .grid-x > .medium-4 {
        width: 33.3333%;
    }

    .grid-x > .medium-5 {
        width: 41.6666%;
    }

    .grid-x > .medium-6 {
        width: 50%; 
    }

    .grid-x > .medium-7 {
        width: 58.3333%;
    }

    .grid-x > .medium-8 {
        width: 66.6666%;
    }

    .grid-x > .medium-9 {
        width: 75%;
    }

    .grid-x > .medium-10 {
        width: 83.3333%;
    }

    .grid-x > .medium-11 {
        width: 91.6666%;
    }

    .grid-x > .medium-12 {
        width: 100%; 
    }
}

/* --Large/Full Screen-- */
@media only screen and (min-width: 64rem) {
    .grid-x > .large-1 {
        width: 8.3333%;
    }

    .grid-x > .large-2 {
        width: 16.6666%;
    }

    .grid-x > .large-3 {
        width: 25%;
    }

    .grid-x > .large-4 {
        width: 33.3333%;
    }

    .grid-x > .large-5 {
        width: 41.6666%;
    }

    .grid-x > .large-6 {
    	width: 50%; 
    }

    .grid-x > .large-7 {
        width: 58.3333%;
    }

    .grid-x > .large-8 {
        width: 66.6666%;
    }

    .grid-x > .large-9 {
        width: 75%;
    }

    .grid-x > .large-10 {
        width: 83.3333%;
    }

    .grid-x > .large-11 {
        width: 91.6666%;
    }

	.grid-x > .large-12 {
    	width: 100%; 
	} 
}


/* xxColors ======================================================*/
.e-white {
    background-color: var(--e-white);
}

.e-charcoal-gray{
    background-color: var(--e-charcoal-gray);
    color: #ffffff;
}

.e-dark-gray {
    background-color: var(--e-dark-gray);
    color: #ffffff;
}

.e-light-blue{
    background-color: var(--e-light-blue);
    color: #ffffff;
}

.e-deep-dark-blue {
    background-color: var(--e-deep-dark-blue);
    color: #ffffff;
}

.e-red{
    background-color: var(--e-red);
    color: #ffffff;
}

.e-green{
    background-color: var(--e-green);
    color: #ffffff;
}

/* xxGradiants ==================================================*/
.blue-gradiant {
    background: linear-gradient(#5cadff,#246bb2);
}

/* xxAttributes =================================================*/
.circular{
    border-radius: 25px;
}

.panel {
    background-color: #ededed;
    /* border: 1px solid rgba(182, 182, 182, 0.3); */
    /* border: 1px solid #d8d8d8; */
    /* border: 1px solid #b1b1b1; */
    color: #333333;
}
    .panel.border{
        border: 1px solid rgba(182, 182, 182, 0.3);
    }

    .panel.chin {
        padding-bottom: 5px;
    }

    .panel > .strip {
        width: 100%;
    }

    .panel > .content {
        margin: .5rem;
    }

.content-pane{
    padding: .2rem;
}

.drop-shadow {
    box-shadow: 0px 2px 10px rgb(51, 51, 51, .2);
}
    .drop-shadow-darker {
        box-shadow: 0px 4px 10px rgb(51, 51, 51, .5);
    }

.drop-shadow-button{
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .4);
}

.shadow-right {
    box-shadow: 2px 0px 20px #333333;
}

.no-border{
    border: none;
}

.rounded{
    border-radius: 10px;
}

    .rounded-top{
        border-radius: 10px 10px 0px 0px; 
    }

.full-border-black{
    border: 1px var(--e-dark-gray) solid;
}

/* xxGraphics ===================================================*/

.navBar {
    z-index: 100;
    font-size: 1.5rem;
    height: 50px;
    line-height: 50px;
    border: 1px none;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    font-weight: normal;
    position: sticky;
    padding: 0.2rem 1rem 0.2rem 1rem;
    transition: 1s;
}

.ethereal-hr-top {
    height: 2px; 
    box-shadow: 0px 1px 3px rgb(51, 51, 51, .5); 
    background-color: rgb(33, 33, 33, .5);
}

.ethereal-hr-bottom {
    height: 2px; 
    box-shadow: 0px -1px 3px rgb(51, 51, 51, .5); 
    background-color: rgb(33, 33, 33, .5);
}
    .ethereal-hr-bottom-cast-down {
        height: 2px; 
        box-shadow: 0px 1px 3px rgb(51, 51, 51, .8); 
        background-color: rgb(33, 33, 33, .5);
    }




    
/* xxButtons=======================*/
/* 
    Base Button
*/

.button{
    cursor: pointer;
    display: inline-block;
    border: none;
    color: #ffffff;
    transition-duration: 0.3s;
}
    .button.e-white{ /*If the button is white, default the text color to black*/
        color: #000000;
    }

    .button.flat{
        padding: 15px 15px;
    }

    .button.dull{
        border-radius: 5px;
    }

    .button.rounded{
        border-radius: 10px;
    }

    .button.circle{
        border-radius: 100px;
    }

    /* Ring Button Styles */
    .button.ring-light-blue{
        border: 2px var(--e-light-blue) solid;
    }

    .button.ring-red{
        border: 2px var(--e-red) solid;
    }

    /* --Animation-- */
    .button:hover{
        opacity: 0.8;
        /* transform: scale(1.05); */
    }

    .button:active{
        opacity: 1.5;
        /* transform: scale(0.9); */
    }

    .button.grow:hover{
        opacity: 1.5;
        transform: scale(1.05);
    }


/* End Buttons ======================================*/

/* xxSwitches =========================================*/
.switch-bar{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch-bar input{ /* for inputs that occur as a child of the switch-bar */
    opacity: 0;
    width: 0;
    height: 0;
}

/* switch-slider is the background of the slider */
.switch-slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #cccccc;
    transition: .5s;
}
    .switch-slider::before{ /* Adds the switch icon (square) */
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: #ffffff;
        transition: .5s;
    }

    .switch-slider.rounded{
        border-radius: 100px;
    }
        .switch-slider.rounded::before{
            border-radius: 100px;
        }

input:checked.switch-input + .switch-slider{ /* When pressed, the background  */
    background-color: var(--e-charcoal-gray);
}
    input:checked.switch-input + .switch-slider::before{
        transform: translateX(26px);
    }

    input:checked.switch-input + .switch-slider.e-light-blue{
        background-color: var(--e-light-blue);
    }

    input:checked.switch-input + .switch-slider.e-red{
        background-color: var(--e-red);
    }



/* End Switches ========================================*/


/* Side Navigation ========================================*/
.sideNavigation{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 200;
    margin-top: 50px; /* Same value as the NavBar height */
    top: 0%;
    /*background-color: #111;*/
    overflow: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: 2px 15px 10px #333333;
}
    
    .sideNavigation.rightNav{
        right: 0px;
    }

    .sideNavigation.leftNav{
        left: 0px;
    }

    .sideNavigation a{
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.5s;
    }

    .sideNavigation a:hover{
        color: #f1f1f1;
    }

    .sideNavigation .closeButton{
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

@media screen and (max-height: 450px){ /*When the screen size is small*/
    .sideNavigation {
        padding-top: 15px;
    }
    .sideNavigation a{
        font-size: 18px;
    }
}

/* End Side Navigation ===============================*/

/* Animations =============================================*/
@keyframes ripple {
    0% {
        transform: scale(0, 0);
        opacity: 1;
    }
    20% {
        transform: scale(25, 25);
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(40, 40);
    }
}

.ripple:focus:not(:active)::after{
    animation: ripple 1s ease-out;
}

.ripple {  /*WIP*/
    border: none;
    background: #2196F3;
    position: relative;
    overflow: hidden;
}

.ripple:after { /*WIP*/
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    background: rgba(255, 255, 255, .5);
    opacity: 0;
    border-radius: 100%;
    transform: scale(1, 1) translate(-50%);
    transform-origin: 50% 50%;
}

/* End Animations ====================================*/