/*Essence-FORM
    Styling for the base of Web Applications for Essence of Zen
    Http://EssenceOfZen.org/
        - Zane "ZenOokami" Blalock
    Version: 0.2.0 - Base
    License:

    Direction:
        - Essence-FORM is EoZ's stylesheet that aims to take in a semi-flat design, with depth
        that 

    Thank Yous:
        A big thank you to Google, Zurb, and Bootstrap -- using them both for different projects inspired
        this project. Google's material design lead to create a none-100%-flat design,
        while Bootstrap and Zurb's grid system lead helped us decide against flex.


    Notes:
    	* Large Screens = 64em
    	* Medium Screens = 40em


    Table of Contents:
        `- xxTags
        `- xxIDs
        `- xxWidth Sections
*/


/* Prevent Chrome blue blurred outline */
button:focus { 
    outline: 0;
}

/* xxTags ==============================*/
html {
  box-sizing: border-box;
  font-size: 100%; /*default html font-size is 16px */

}

*, *::before, *::after {
  box-sizing: inherit; 
}

body {
    margin: 0;
    padding: 0;
}



/* xxIDs ====================================================*/
#baseContent{
    transition: margin-left .5s;
    /*padding: 16px;*/
}

/* xxWidth Sections =========================================*/
.full-width {
    margin: auto;
    width: 100%;
}

.three-width {
    margin: auto;
    width: 75%;
}

.main-width {
    margin: auto;
    width: 65%;
}

/* xxText and Font ==========================================*/
.text-center {
    text-align: center;
}

.text-medium-large {
    font-size: 1.5rem;
}

/* xxGrid ===================================================*/
.grid-container {
    /*0.9375rem = 15px*/
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
    max-width: 100rem;
    margin: 0 auto;
}

.grid-x {
  display: flex;
  flex-flow: row wrap; 
}

.cell {
  flex: 0 0 auto;
  min-height: 0px;
  min-width: 0px;
  width: 100%;
  padding-left: .25rem;
  padding-right: .25rem;
}

/* --Small Screen-- */
/* Default/small */
.grid-x > .small-1 {
    width: 8.3333%;
}

.grid-x > .small-2 {
    width: 16.6666%;
}

.grid-x > .small-3 {
    width: 25%;
}

.grid-x > .small-4 {
    width: 33.3333%;
}

.grid-x > .small-5 {
    width: 41.6666%;
}

.grid-x > .small-6 {
    width: 50%; 
}

.grid-x > .small-7 {
    width: 58.3333%;
}

.grid-x > .small-8 {
    width: 66.6666%;
}

.grid-x > .small-9 {
    width: 75%;
}

.grid-x > .small-10 {
    width: 83.3333%;
}

.grid-x > .small-11 {
    width: 91.6666%;
}

.grid-x > .small-12 {
    width: 100%; 
}


/* --Medium Screen-- */
@media only screen and (min-width: 800px){
    .grid-x > .medium-1 {
        width: 8.3333%;
    }

    .grid-x > .medium-2 {
        width: 16.6666%;
    }

    .grid-x > .medium-3 {
        width: 25%;
    }

    .grid-x > .medium-4 {
        width: 33.3333%;
    }

    .grid-x > .medium-5 {
        width: 41.6666%;
    }

    .grid-x > .medium-6 {
        width: 50%; 
    }

    .grid-x > .medium-7 {
        width: 58.3333%;
    }

    .grid-x > .medium-8 {
        width: 66.6666%;
    }

    .grid-x > .medium-9 {
        width: 75%;
    }

    .grid-x > .medium-10 {
        width: 83.3333%;
    }

    .grid-x > .medium-11 {
        width: 91.6666%;
    }

    .grid-x > .medium-12 {
        width: 100%; 
    }
}

/* --Large/Full Screen-- */
@media only screen and (min-width: 1000px) {
    .grid-x > .large-1 {
        width: 8.3333%;
    }

    .grid-x > .large-2 {
        width: 16.6666%;
    }

    .grid-x > .large-3 {
        width: 25%;
    }

    .grid-x > .large-4 {
        width: 33.3333%;
    }

    .grid-x > .large-5 {
        width: 41.6666%;
    }

    .grid-x > .large-6 {
    	width: 50%; 
    }

    .grid-x > .large-7 {
        width: 58.3333%;
    }

    .grid-x > .large-8 {
        width: 66.6666%;
    }

    .grid-x > .large-9 {
        width: 75%;
    }

    .grid-x > .large-10 {
        width: 83.3333%;
    }

    .grid-x > .large-11 {
        width: 91.6666%;
    }

	.grid-x > .large-12 {
    	width: 100%; 
	} 
}


/* xxColors ======================================================*/
.e-white {
    background-color: #ffffff;
}

.e-dark-gray {
    background-color: #212121;
    color: #ffffff;
}

.e-light-blue{
    background-color: #5cadff;
    color: #ffffff;
}

.e-deep-dark-blue {
    background-color: #425784;
}

.e-red{
    background-color: #ff2616;
    color: #ffffff;
}

/* xxGradiants ==================================================*/
.blue-gradiant {
    background: linear-gradient(#5cadff,#246bb2);
}

/* xxAttributes =================================================*/
.circular{
    border-radius: 25px;
}

.panel {
    background-color: #f2f2f2;
    border: 1px solid rgba(182, 182, 182, 0.3);
    /* border: 1px solid #d8d8d8; */
    /* border: 1px solid #b1b1b1; */
    color: #333333;
}
    .panel > .strip {
        width: 100%;
    }

    .panel > .content {
        margin: .5rem;
    }

.drop-shadow {
    box-shadow: 0px 2px 10px rgb(51, 51, 51, .2);
}
    .drop-shadow-darker {
        box-shadow: 0px 4px 10px rgb(51, 51, 51, .5);
    }

.shadow-right {
    box-shadow: 2px 0px 20px #333333;
}

.no-border{
    border: none;
}

.rounded{
    border-radius: 10px;
}

    .rounded-top{
        border-radius: 10px 10px 0px 0px; 
    }


/* xxGraphics ===================================================*/

.navBar {
    font-size: 2rem;
    height: 50px;
    line-height: 50px;
    border: 1px none;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    font-weight: normal;
    position: fixed;
    padding: 0.2rem 1rem 0.2rem 1rem;
    transition: 1s;
}

.ethereal-hr-top {
    height: 2px; 
    box-shadow: 0px 1px 3px rgb(51, 51, 51, .5); 
    background-color: rgb(33, 33, 33, .5);
}

.ethereal-hr-bottom {
    height: 2px; 
    box-shadow: 0px -1px 3px rgb(51, 51, 51, .5); 
    background-color: rgb(33, 33, 33, .5);
}
    .ethereal-hr-bottom-cast-down {
        height: 2px; 
        box-shadow: 0px 1px 3px rgb(51, 51, 51, .8); 
        background-color: rgb(33, 33, 33, .5);
    }

/* xxButtons=======================*/
.button-flat{
    cursor: pointer;
    color: white;
    display: inline-block;
    padding: 15px 15px;
    text-decoration: none;
    border: none;
    transition-duration: 0.5s;
}

    .button-flat.green{
        background-color: #4CAF50;
    }

    .button-flat.red{
        background-color: red;
    }

    .button-flat.blue{
        background-color: #5cadff;
    }

    .button-flat.dull{
        border-radius: 5px;
    }

    .button-flat.rounded{
        border-radius: 10px;
    }

    .button-flat.circle {
        border-radius: 100px;
    }

    .button-flat.big{
        padding: 15px 32px;
    }


    /* --Animation-- */
    .button-flat.arrow:hover{
        opacity: 0.8;
        padding-right: 25px;
    }

    .button-flat.arrow:after{
        content: ' \00bb';
        opacity: 0;
        right: -25px;
        transition-duration: 0.5s;
    }

    .button-flat.arrow:hover:after{
        opacity: 1;
    }

    .button-flat:hover{
        opacity: 0.8;
    }

    .button-flat:active{
        opacity: 1.5;
    }

.material-button {
    border: none;
    cursor: pointer;
    color: white;
    padding: 15px 40px;
    border-radius: 2px;
    font-size: 22px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
    background: #2196F3;
    /*position: relative;*/
    /*overflow: hidden;*/
}

    .material-button:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 5px;
        height: 5px;
        background: rgba(255, 255, 255, .5);
        opacity: 0;
        border-radius: 100%;
        transform: scale(1, 1) translate(-50%);
        transform-origin: 50% 50%;
    }

/* End Buttons ======================================*/


/* Side Navigation ========================================*/
.sideNavigation{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 5;
    top: 0%;
    /*background-color: #111;*/
    overflow: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: 2px 4px 10px #333333;
}
    
    .sideNavigation.rightNav{
        right: 0px;
    }

    .sideNavigation.leftNav{
        left: 0px;
    }

    .sideNavigation a{
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.5s;
    }

    .sideNavigation a:hover{
        color: #f1f1f1;
    }

    .sideNavigation .closeButton{
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

@media screen and (max-height: 450px){ /*When the screen size is small*/
    .sideNavigation {
        padding-top: 15px;
    }
    .sideNavigation a{
        font-size: 18px;
    }
}


/* End Side Navigation ===============================*/

/* Animations =============================================*/
@keyframes ripple {
    0% {
        transform: scale(0, 0);
        opacity: 1;
    }
    20% {
        transform: scale(25, 25);
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(40, 40);
    }
}

.ripple:focus:not(:active)::after{
    animation: ripple 1s ease-out;
}

.ripple {  /*WIP*/
    border: none;
    background: #2196F3;
    position: relative;
    overflow: hidden;
}

.ripple:after { /*WIP*/
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    background: rgba(255, 255, 255, .5);
    opacity: 0;
    border-radius: 100%;
    transform: scale(1, 1) translate(-50%);
    transform-origin: 50% 50%;
}

/* End Animations ====================================*/